export(add_leading_zeroes)
export(aggregate.SpatialPointsDataFrameListZoo)
export(angular_difference)
export(as.data.frame.SpatialPointsDataFrameList)
export(as.Date.SpatialPointsDataFrameListZoo)
export(as.list.SpatialPointsDataFrameList)
export(as.SpatialPointsDataFrameList)
export(as.SpatialPointsDataFrameListZoo)
export(as.yearmon.SpatialPointsDataFrameListZoo)
export(check_list_classes)
export(circ.mean.na.rm)
export(crop_extents_synced)
export(expand.list)
export(extract_overlap_rasters)
export(extract_synced)
export(filter_outliers)
export(find_outliers)
export(index.SpatialPointsDataFrameListZoo)
export(kernel_maker)
export(list_to_data.frame)
export(MATCH.SpatialPointsDataFrameListZoo)
export(plot_azimuth)
export(radians_to_degrees)
export(raster_retile)
export(rasterToPointsWithScaling)
export(remove_file_extension)
export(rstarspan)
export(spatial_sync_vector)
export(subset.zoo.SpatialPointsDataFrameListZoo)
export(time.SpatialPointsDataFrameListZoo)
export(train_test_sampling)
export(write_raster_list)
exportClasses(SpatialPointsDataFrameList)
exportClasses(SpatialPointsDataFrameListZoo)
