exportClasses(SpatialPointsDataFrameList)
exportClasses(SpatialPointsDataFrameListZoo)
export(aggregate.SpatialPointsDataFrameListZoo)
export(as.data.frame.SpatialPointsDataFrameList)
export(as.Date.SpatialPointsDataFrameListZoo)
export(as.list.SpatialPointsDataFrameList)
export(as.SpatialPointsDataFrameList)
export(as.SpatialPointsDataFrameListZoo)
export(as.yearmon.SpatialPointsDataFrameListZoo)
export(check_list_classes)
export(extract_synced)
export(find_outliers)
export(filter_outliers)
export(index.SpatialPointsDataFrameListZoo)
export(MATCH.SpatialPointsDataFrameListZoo)
export(radians_to_degrees)
export(raster_retile)
export(rasterToPointsWithScaling)
export(spatial_sync_vector)
export(subset.zoo.SpatialPointsDataFrameListZoo)
export(time.SpatialPointsDataFrameListZoo)
